body {
  margin: 0;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 300vh;
  width: 300vw;
}

.logo {
  width: 500px;
}

.thumbnail {
  object-fit: cover;
  width: 500px;
  height: 500px;
}